@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700;800&display=swap");

:root {
    --main-color: #FC7B32;
    --main-color-alt: #FC576E;
    --text-color: #FF8227;
    --text-color-alt: #f8445c;
    --red: #f94144;
    --title-color: #FC7B32;
    --transition: 0.5s ease-in-out;
    --fixed-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --elevate-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    --container: white;
    --card-color: rgb(241, 240, 240);
    --card-color2: white;
    --svg-color: #FC576E;
}

[data-theme="dark"] {
    --container: black;
    --text-color: #FE6655;
    --text-color-alt: #FC30B0;
    --main-color-alt: #f8445c;
    --main-color: #12131d;
    --card-color: #12131d;
    --card-color2: #12131d;
    --red: #b9bac9;
    --svg-color: #FE6655;
    --elevate-shadow: rgb(252, 87, 110) 0px 25px 50px -12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", sans-serif;
}

.app {
    background-color: var(--container);
    transition: var(--transition);
}

.heading-title {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--title-color);
    text-align: center;
    font-weight: 700;
}

html,
body,
.app {
    overflow: visible;
}

ul {
    list-style-type: none;
}

.mx-3 {
    margin: 0 1.5rem;
}

.py-3 {
    padding: 3rem 0;
}

::-webkit-scrollbar {
    background-color: white;
    width: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background-color: #FC576E;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 1080px) {
    html,
    body,
    .app {
        max-width: 100vw;
        overflow-x: hidden;
    }

    .app::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (min-device-width: 1200px) {
    .mx-3 {
        margin: 0 5rem;
    }
}
