nav {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: var(--card-color);
    transition: var(--transition);

    .py-3 {
        padding: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .3rem;

            img {
                width: 120px;
            }
        }
    }

    .links-container {
        .toggle {
            display: flex;
            font-size: 1.4rem;
            gap: 1rem;
            flex-direction: row-reverse;
            position: relative;
            z-index: 20;

            svg {
                color: var(--svg-color);
            }

            .sun {
                color: var(--text-color-alt);
                font-size: 1.4rem;
            }

            .moon {
                color: var(--text-color);
                font-size: 1.4rem;
            }
        }

        .links {
            width: 0;
            position: fixed;
            right: 0;
            top: 0;
            height: 100vh;
            background-color: var(--container);
            visibility: hidden;
            transition: var(--transition);
            opacity: 0;

            ul {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 4rem;

                li {
                    a {
                        display: inline-flex;
                        align-items: center;
                        column-gap: 1rem;
                        font-size: .813rem;
                        font-weight: 500;
                        transition: var(--transition);
                        text-decoration: none;
                        text-transform: uppercase;
                        color: var(--text-color-alt);

                        & svg {
                            font-size: 1.15rem;
                        }

                        &:hover {
                            color: #FE6655;
                        }
                    }
                }

                .sun {
                    color: var(--text-color-alt);
                    font-size: 1.4rem;
                }

                .moon {
                    color: var(--text-color);
                    font-size: 1.4rem;
                }

                .color-mode {
                    display: none;
                    cursor: pointer;
                }
            }
        }

        .responsive-toggle {
            width: 60vw;
            visibility: visible;
            opacity: 1;
            z-index: 10;
        }

        .nav-icon {
            color: var(--text-color);
        }
    }

    @media only screen and (min-device-width: 1200px) {
        background-color: var(--container);
        margin: 2rem;
        margin-top: 0;

        .py-3 {
            padding: 1rem 0;
        }

        .container {
            .links-container {
                .toggle {
                    display: none;
                }

                .links {
                    position: initial;
                    height: max-content;
                    visibility: visible;
                    opacity: 1;
                    width: 100%;

                    ul {
                        height: 1rem;
                        flex-direction: row;

                        .color-mode {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
